/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px dashed black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.absolute {
    position: absolute;
}

/* Header */
header {
    background-color: #FF6900;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

header a, header i {
    color: white;
    padding: 15px 5px;
}

header img {
    height: 80px;
    padding: 15px;
}

/* Main */
main {
    padding-top: 120px;
}

.container-col {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
    padding: 10px;
}

.col-img {
    position: relative;
}

.col img {
    max-width: 100%;
}

.discount, .eco {
    display: inline-block;
    color: white;
}

.discount {
    background-color: red;
    padding: 6px 12px;
}

.eco {
    background-color: green;
    padding: 6px 12px;
}

.lowtags {
    bottom: 40px;
    left: 0;
}

.col-fav {
    top: 20px;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.col-fav:hover {
    color: red;
}

.col-text {
    line-height: 1;
    margin-bottom: 48px;
}

h6 {
    font-size: 1rem;
    font-weight: 200;
}

.prices {
    font-size: 1rem;
}

.newprice {
    color: red;
    font-weight: 600;
}

.oldprice {
    text-decoration: line-through;
}