/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.border {
    border: 1px dashed black;
}

a, header i {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 40px;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.absolute {
    position: absolute;
}

/* Header */
header {
    background-color: #FF6900;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 3px #666;
}

.header-container {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    align-items: center;
}

.header-container > * {
    width: calc(100%/3);
}

header ul {
    gap: 15px;
}

.header-icons {
    justify-content: flex-end;
}

.header-img {
    justify-content: center;
}

.header-logo {
    max-width: 50%;
}

/* Main */
main {
    padding-top: 120px;
}

.container-col {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.row {
    margin: 0 -10px;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
    min-width: 320px;
    padding: 10px;
}

.col-img {
    position: relative;
    margin-bottom: 8px;
}

.col img {
    max-width: 100%;
    display: block;
}

.discount, .eco {
    display: inline-block;
    color: white;
}

.discount {
    background-color: red;
    padding: 6px 12px;
}

.eco {
    background-color: green;
    padding: 6px 12px;
}

.lowtags {
    bottom: 40px;
    left: 0;
}

.col-fav {
    top: 20px;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.col-fav:hover {
    color: red;
    cursor: pointer;
}

.col-text {
    line-height: 1;
    margin-bottom: 48px;
}

h6 {
    font-size: 1rem;
    font-weight: 200;
}

.prices {
    font-size: 1rem;
}

.newprice {
    color: red;
    font-weight: 600;
}

.oldprice {
    text-decoration: line-through;
}

/* Footer */
footer {
    height: 120px;
    background-color: black;
    color: white;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.srl {
    font-size: 1.3rem;
}

.finfo nav {
    gap: 20px;
}

.fsocial nav {
    gap: 10px;
}

.followus {
    text-align: center;
}

.fsocial a {
    font-size: 1.2rem;
}

/* Effetti Hover */

.main-img:hover {
    cursor: pointer;
    box-shadow: 0px 1px 3px black;
}

.rftu-img:hover  {
    content: url(../asset/img/1b.webp);
}

.rosest-img:hover  {
    content: url(../asset/img/2b.webp);
}

.vdcp-img:hover  {
    content: url(../asset/img/3b.webp);
}

.tu-img:hover  {
    content: url(../asset/img/4b.webp);
}

.sb-img:hover  {
    content: url(../asset/img/5b.webp);
}

.mb-img:hover  {
    content: url(../asset/img/6b.webp);
}